{#
/**
* @file
* Available variables:
* - items: List of articles items.
* - title: Title of list.
*/
#}
<div>
  <h2>{{ title }}</h2>
  {% for article in items %}
    <div>
      <h3>{{ article.title }}</h3>
      <p>{{ article.body }}</p>
    </div>
  {% endfor %}
</div>
