{# /**
* @file
*  Default theme implementation to print Lorem ipsum text.
*
* Avilable attributies:
*   - source_text
*
* @see template_preporcess_hook()
*
* @ingroup themeable
*/ #}

<div class="loremipsum">
  {% for item in source_text %}
    <p>{{ item }}</p>
  {% endfor %}
</div>
